.option-container {
  .options {
    display: flex;
    gap: 20px;
    filter: drop-shadow(5px 5px 5px rgb(65, 64, 64));

    & > div {
      width: 50px;
      // position: relative;
    }

    .add-link,
    .remove-link,
    .remove-shape,
    .download-canvas,
    .export-To-Json {

      .descText {
        display: none;
        font-size: 16px;
        font-weight: 550;
      }

      .show-add-link {
        position: absolute;
        top: -15px;
        left: 4px;
      }
      
      .show-remove-link {
        position: absolute;
        top: -15px;
        left: 57px;
      }
      
      .show-remove-shape {
        position: absolute;
        top: -15px;
        left: 120px;
      }
      
      .show-download-canvas {
        position: absolute;
        top: -15px;
        left: 180px;
      }
      
      .show-export-To-Json {
        position: absolute;
        top: -15px;
        right: -15px
      }
    }

    .add-link:hover {
      .show-add-link {
        display: block;
      }
    }
    .remove-link:hover {
      .show-remove-link {
        display: block;
      }
    }
    .remove-shape:hover {
      .show-remove-shape {
        display: block;
      }
    }
    .download-canvas:hover {
      .show-download-canvas {
        display: block;
      }
    }
    .export-To-Json:hover {
      .show-export-To-Json {
        display: block;
      }
    }
  }
}
