.kitchen-skin {
  width: 100vw;
  height: 100vh;

  .stencil {
    height: 100%;
    border: 1px solid;

    .standard {
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .img {
        width: 70px;
        height: 70px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .paper-container {
    height: 100%;
    border: 1px solid;
  }

  .inspector {
    border: 1px solid;
  }
}
